@import "common";
$font-decor: "Old Standard TT", serif;

#content {
  width: 80vw;
  font-size: 14px;
  margin: 0 auto;
  padding: 5vh 5vw;
  padding-bottom: 0;
  max-width: 1024px;

  #logo {
    text-align: center;
  }

  .spacer {
    height: 400px;
  }

  .fullbleed {
    width: 100%;
    margin-bottom: 1em;
  }
}

nav {
  font-size: 14px;
  height: 8vh;
  line-height: 10vh;
  padding: 10px 40px;

  .nameplate {
    font-family: $font-decor;
    font-size: 2em;
  }

  ul {
    float: right;
    li {
      display: inline-block;
      margin-right: 1em;
    }
  }
}

#copyright {
  padding: 10px 40px;
  height: 4vh;
  line-height: 4vh;
  font-size: 12px;
  color: $grey;
}

h1 {
  margin-top: 2em;
  margin-bottom: 1em;
  display: inline-block;
}

.line {
  background-color: $yellow;
  position: relative;
  height: 16px;
  top: 36px;
  left: 6px;
  z-index: 0;
  width: calc(100% + 15px);
}

.boxcontainer {
  position: relative;
  .box {
    background-color: $yellow;
    position: absolute;
    height: 96px;
    left: -48px;
    top: -45px;
    z-index: 0;
    width: calc(100% - 60px);
  }
}

.text {
  z-index: 1;
  position: relative;
}

.title {
}
